{% extends 'account/header.html' %}
{% block content %}

 {% if errm %}
<div class="alert alert-danger">
  <strong>{{ errm }}</strong>
</div>
{% endif %}

<form class="form-horizontal" action="/account/new" method=post>




<div class="form-group">
   <label class="control-label col-sm-2" for="email">Email:</label>
   <div class="col-sm-10">
     <input type="text" class="form-control" id="email" name="email">
   </div>
 </div>

  <div class="form-group">
     <label class="control-label col-sm-2" for="pass">Password:</label>
     <div class="col-sm-10">
       <input type="text" class="form-control" id="pass" name="pass">
     </div>
   </div>

    <div class="form-group">
       <label class="control-label col-sm-2" for="name">Name:</label>
       <div class="col-sm-10">
         <input type="text" class="form-control" id="name" name="name">
       </div>
     </div>
     <div class="form-group">
        <label class="control-label col-sm-2" for="surname">Surname:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="surname" name="surname">
        </div>
      </div>
      <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button type="submit" class="btn btn-default">Register</button>
           </div>
         </div>
         <input type="hidden" id="inviteCode" name="inviteCode">
<style>
.container {
  margin-top: 18%;
  width:30%;
}
</style>
<script>
  var invcode = location.search.split('invitecode=')[1]
  if(invcode) {
    el = document.getElementById('inviteCode')
    el.value=invcode;
  }
  </script>

{% endblock %}
